.mainHero {
	&__explorer {
       
		&-flex {
			display: flex;
			align-items: center;
			border-radius: var(--radius-l);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
            margin-bottom: var(--space-xl);
		}

		img {
			width: 120px;
			height: 85px;
			border-radius: var(--radius-l) 0 0 var(--radius-l);
			object-fit: cover;
		}

        a {
            &:hover {
                text-decoration: underline;
            }
        }

	}
}


@media (max-width: 1024px) {

}



